.footer{
    background-color: black;
    width: 100%;
    color: #949494;
    height: 190px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    .ttle{
        h2{
          margin-left: 120px;
        }
        p{
            margin-top: 10px;
            max-width: 270px;
            margin-left: 90px;
        }
        img{
            height: 50px;
            margin-left: 100px;
            margin-top: 10px;
        }
    }
    .social{
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        i{
            padding: 14px;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .location{
        h2{
         margin-right: 10px;
        }
    }

    .sub{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        input{
            background: transparent;
            height: 40px;
            width: 200px;
        }
        button{
            color: #949494;
            justify-content: center;
            align-items: center;
            background: transparent;
            border-bottom: 2px solid white;
            border-right: 2px solid white;
            width: 208px;
            cursor: pointer;
            &:hover{
                color: white;
                background-color: #949494;
            }
        }
    }
    
}